.photo-text-container {
    display: flex; /* Usa flexbox para alinear verticalmente los elementos */
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra verticalmente los elementos en el contenedor */
    align-items: center; /* Centra horizontalmente los elementos en el contenedor */
    background:linear-gradient(rgba(5, 7, 12, 0.35),rgba(5, 7, 12, 0.35)),
   url('../img/fondomar.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 500px;
  }
  
  .title {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 16px;
  }
  