.photo-text-container {
    display: flex; /* Usa flexbox para alinear verticalmente los elementos */
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra verticalmente los elementos en el contenedor */
    align-items: center; /* Centra horizontalmente los elementos en el contenedor */
    background:linear-gradient(rgba(5, 7, 12, 0.35),rgba(5, 7, 12, 0.35)),
   url('../img/fondomar.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 500px;
  }
  
  .title {
    font-size: 70px;
    margin-bottom: 10px;
    position: relative;
  }


  .title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px; /* Ajusta la posición debajo del texto */
    height: 2px; /* Grosor de la línea */
    background: #fff; /* Color de la línea */
    opacity: 0; /* Inicialmente invisible */
    animation: fadeInLine 0.5s ease 1.7s forwards; /* Animación y retraso */
}

  .title span {
    opacity: 0; /* Inicialmente invisible */
    display: inline-block; /* Para animar individualmente */
    animation: fadeInLetter 0.5s ease forwards; /* Animación de aparición */
}

@keyframes fadeInLine {
  to {
      opacity: 1;
  }
}

@keyframes fadeInLetter {
    to {
        opacity: 1;
    }
}

/* Aplica un retraso de animación incremental para cada letra */
.title span:nth-child(1) { animation-delay: 0.1s; }
.title span:nth-child(2) { animation-delay: 0.2s; }
.title span:nth-child(3) { animation-delay: 0.3s; }
.title span:nth-child(4) { animation-delay: 0.4s; }
.title span:nth-child(5) { animation-delay: 0.5s; }
.title span:nth-child(6) { animation-delay: 0.6s; }
.title span:nth-child(7) { animation-delay: 0.7s; }
.title span:nth-child(8) { animation-delay: 0.8s; }
.title span:nth-child(9) { animation-delay: 0.9s; }
.title span:nth-child(10) { animation-delay: 1.0s; }
.title span:nth-child(11) { animation-delay: 1.1s; }
.title span:nth-child(12) { animation-delay: 1.2s; }
.title span:nth-child(13) { animation-delay: 1.3s; }
.title span:nth-child(14) { animation-delay: 1.4s; }
.title span:nth-child(15) { animation-delay: 1.5s; }
.title span:nth-child(16) { animation-delay: 1.6s; }
/* Asegúrate de tener un nth-child para cada letra en tu título */


