/* Estilos para la cabecera */
header {
  position: relative;
  color: #fff;
  height: 100vh;
  width: auto;
  margin: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.header-container {
  flex-direction: column;
}

.top-row {
  display: flex;
}

.header-content {
  margin: 80px auto 0;
  max-width: 700px;
  padding: 20px;
  margin-left: 250px;
  justify-content: flex-start; /* Centra el contenido a la izquierda */
  align-items: center;
}

.header-background {
  background-color: rgba(42, 34, 34, 0.8);
  /* Color azul */
  width: 50%;
  /* Ancho al 50% */
  height: 70vh;
  /* Altura al 50% de la altura de la ventana */
}

.rectangle-box {
  width: 10%;
  /* Ancho al 50% */
  height: 70vh;
  /* Altura al 50% de la altura de la ventana */
  opacity: 0.8;
}

.bottom-row {
  width: 100%;
  /* Ocupa el ancho completo */
}

.rectangle-box1 {
  width: 50%;
  /* Ancho al 50% */
  height: 20vh;
  /* Altura al 50% de la altura de la ventana */
  z-index: 2;
  opacity: 0.8;
}

header h1 {
  font-size: 50px;
}

.header-conten p {
  text-align: justify;
}

/* Estilos para las secciones de información */
section {
  padding: 40px;
  border-bottom: 1px solid #ccc;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  max-width: 600px;
  text-align: justify;
}

/* Estilos para los botones */
.boton-estandar {
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: rgba(52, 73, 94, 0.7);
  margin: 10px;
  border: 2px solid #ffffff;
  align-items: center;
}

.boton-estandar:hover {
  background-color: #2980b9;
}

.background-video {
  position: absolute; /* Posiciona el video absolutamente dentro del contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Coloca el video detrás de los demás elementos */
}

/* Estilos para centrar en modo responsivo */
@media (max-width: 1450px) {
  .header-background {
    width: 65%;
    height: 70vh;
    /* Altura al 50% de la altura de la ventana */
  }

  .rectangle-box1 {
    width: 65%;
  }

  header h1 {
    font-size: 35px;
    max-width: 500px;
  }

  p {
    font-size: 20px;
    max-width: 500px;
  }
}

/* Estilos para centrar en modo responsivo */
@media (max-width: 1200px) {
  .header-background {
    width: 75%;
    height: 70vh;
    /* Altura al 50% de la altura de la ventana */
  }

  .rectangle-box1 {
    width: 75%;
  }

  header h1 {
    font-size: 35px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }

  button {
    margin: 10px 0; /* Ajusta el margen vertical y horizontal según tus necesidades */
  }
}

@media (max-width: 900px) {
  .header {
    height: 100vh;
  }

  .header-content {
    margin: 200px auto;
  }

  .header-background {
    width: 100%;
    height: 70vh;
    /* Altura al 50% de la altura de la ventana */
  }

  .rectangle-box {
    display: none;
  }

  .rectangle-box1 {
    width: 100%;
  }

  header h1 {
    font-size: 35px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }
}

@media (max-width: 700px) {
  .header-content {
    margin: 100px auto;
  }

  .header-background {
    width: 100%;
    height: 100vh;
    /* Altura al 50% de la altura de la ventana */
  }

  .rectangle-box1 {
    display: none;
  }
  .header-background,
  .rectangle-box,
  .rectangle-box1 {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  header {
    height: auto;
  }
  .header-content {
    margin: 80px auto;
  }

  .rectangle-box {
    display: none;
  }

  header h1 {
    font-size: 35px;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
  }

  .rectangle-box1 {
    display: none;
  }
}

@media (max-width: 400px) {
  header {
    width: 100%; /* En modo responsivo, el header ocupa el 100% del ancho de la pantalla */
    height: auto; /* La altura se ajustará automáticamente según el contenido */
  }

  .rectangle-box {
    display: none;
  }

  header h1 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 0.5px; /* Ajusta el espaciado entre letras según tus preferencias */
    word-spacing: 1px; /* Ajusta la separación entre palabras según tus preferencias */
  }

  .rectangle-box1 {
    display: none;
  }
}
