nav {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  border-bottom: 0.5px solid #000000;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  z-index: 10;
   /* Agrega un margen superior de 20px */
}


nav li {

  /* Ajusta el margen derecho según tus necesidades */
  padding: 5px 0;
  /* Ajusta el espaciado vertical según tus necesidades */
}

nav a {
  font-family: 'Arial', sans-serif;
  /* Cambia 'Arial' por el tipo de letra que prefieras */
  color: white;
  text-decoration: none;
  padding: 10px;
  
  /* Ajusta el margen como necesites */
}
ul.menu{
  padding: 10px;
  margin: 0;
}
ul.menu li {
  margin-right: 10px; /* Agrega margen derecho entre los elementos */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
}


nav a:link, nav a:visited {
  color: white; /* Color para enlaces no visitados y visitados */
}

nav a:hover {
  color: white; /* Color al pasar el mouse sobre el enlace */
  background-color: rgba(255, 255, 255, 0.2); /* Fondo al pasar el mouse */
}

nav a:active {
  color: white; /* Color al hacer clic en el enlace */
}


.register-btn {
  background-color: red;
  /* Un rojo claro/sutil */
  color: white;
  /* Asegúrate de que el texto sea blanco */
  padding: 10px;
  justify-content: center; 
  align-items: center;
  border-radius: 2px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.register-btn:hover {
  background-color: #cc0000;
  /* Un rojo más oscuro */
}

.logo img {
  height: auto;

  width: 200px;
}

.logo img:hover {
  transform: scale(1.1);
  /* Aumenta ligeramente el tamaño */
  transition: transform 0.2s ease-in-out;
  /* Hace la transición más suave */
}

.hamburger-icon {
  font-size: 24px; /* Ajusta el tamaño del icono */
  cursor: pointer; /* Cambia el cursor a un puntero al pasar el mouse */
  display: none; /* Oculta por defecto y se mostrará en pantallas más pequeñas */
  padding: 10px;
  background: none; /* Elimina cualquier fondo del botón */
  border: none; /* Elimina cualquier borde del botón */
}

.close-icon {
  position: absolute;
  top: 0; /* Ajusta la posición vertical según tus necesidades */
  right: 4%; /* Ajusta la posición horizontal según tus necesidades */
  cursor: pointer;
  display: none;
  padding: 10px;
  color: #fff; /* Cambia el color del icono "X" */
  font-size: 24px;
  background: none; /* Elimina cualquier fondo del botón */
  border: none; /* Elimina cualquier borde del botón */
}




@media (max-width: 1200px) {
  .hamburger-icon {
    display: block; /* Muestra el icono en pantallas pequeñas */
  }

  .close-icon {
    display: block;
  }
  /* Ocultar la lista de navegación en pantallas pequeñas */
  nav ul {
    display: none;
  }

 /* CSS para el menú desplegable */
 .menu {
  margin: 0;
  list-style: none;
  top: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 200;
  overflow: auto;
  right: -100%;
  background-color: #141414;
  padding: 20px;
  transition: right 0.3s ease-in-out;
  width: 300px;
  height: 100%;
  padding-top: 50px;
}

.menu.open {
  right: 0; /* Muestra el menú desplazándolo desde la derecha */
}

.menu li {
  margin-bottom: 10px; /* Agrega margen entre los elementos del menú */
}
 
.register-btn {
  /* Tus estilos existentes para 'register-btn' */
  display: flex;  /* Asegura que los elementos internos sean flexibles */
  justify-content: center; /* Centra los elementos internos horizontalmente */
  width: auto; /* Asegura que el botón ocupe todo el ancho disponible */
  margin: 8px auto;
  padding: 10px;
}

}

@media (max-width: 768px) {

  .menu {
   
    width: 200px;
    
  }
  .logo img {
    width: 200px; /* Más pequeño en pantallas más estrechas */
  }
  /* Otros ajustes responsivos */
}

@media (max-width: 400px) {

  .menu {
   
    width: 150px;
    
  }

  .hamburger-icon {
    font-size: 20px; /* Ajusta el tamaño del icono */
    padding: 10px;
  }
  .logo img {
    width: 150px; /* Más pequeño en pantallas más estrechas */
  }
  /* Otros ajustes responsivos */
}


@media (max-width: 300px) {

  .menu {
   
    width: 150px;
    
  }

  .hamburger-icon {
    font-size: 15px; /* Ajusta el tamaño del icono */
    padding: 10px;
  }
  .logo img {
    width: 150px; /* Más pequeño en pantallas más estrechas */
  }
  /* Otros ajustes responsivos */
}

@media (max-width: 240px) {

  .menu {
   
    width: 150px;
    
  }

  .hamburger-icon {
    font-size: 15px; /* Ajusta el tamaño del icono */
    padding: 10px;
  }
  .logo img {
    width: 100px; /* Más pequeño en pantallas más estrechas */
  }
  /* Otros ajustes responsivos */
}

