/* Estilos para la sección del equipo */
.nuestro-equipo {
  text-align: center; /* Centra el contenido de la sección */
  padding: 20px; /* Espacio alrededor de la sección */
  background-color: rgb(255, 255, 255);
}

/* Estilos para el contenedor de miembros del equipo */
.miembros-equipo {
  display: flex;
  justify-content: center; /* Centra los elementos del equipo horizontalmente */
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea en pantallas pequeñas */
  gap: 20px; /* Espacio entre los miembros del equipo */
}

/* Estilos para cada miembro del equipo */
.miembro-equipo {
  display: flex;
  margin: 20px;
  flex-direction: column; /* Organiza los elementos (imagen, nombre, especialidad) en columna */
  align-items: center; /* Centra los elementos horizontalmente */
}

.titulo-equipo {
    color: #000000; /* Tu color elegido para el título */
    text-align: center;
    font-weight: bold;
    font-size: 45px; 
    margin-top: 30px; /* Espacio por encima del título */
  margin-bottom: 30px; /* Espacio por debajo del título */
  }
  
  /* Estilos para los miembros del equipo, imágenes, nombres y especialidades... */
  

/* Estilos para las imágenes de los miembros del equipo */
.miembro-equipo img {
  width: 250px; /* Tamaño de la imagen */
  height: 250px; /* Tamaño de la imagen */
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover; /* Asegura que la imagen se ajuste bien en el espacio asignado */
}

/* Estilos para los nombres de los miembros del equipo */
.miembro-equipo h3 {
  color: #000000;
  font-weight: bold;
  margin: 10px 0; /* Espacio arriba y abajo del nombre */
  font-size: 1.2em; /* Tamaño del texto */
}

/* Estilos para las especialidades de los miembros del equipo */
.miembro-equipo p {
  color: #000000;
  font-size: 1.1em;
  margin: 10px; /* Remueve el margen por defecto */
 /* Convierte el texto a mayúsculas */
}
