#acerca-nosotros {
  background-color: white; /* Fondo blanco para la sección */
}

#acerca-nosotros .container {
  padding: 20px 0;
}

#acerca-nosotros .body {
  position: relative; /* Para la línea de conexión */
}

#acerca-nosotros article {
  padding: 50px;
}

#acerca-nosotros .texto p {
  color: black; /* Color del texto */
  font-size: 18px; /* Tamaño de fuente deseado */
  margin-top: 10px; /* Espacio superior del párrafo */
  margin-bottom: 10px; /* Espacio inferior del párrafo */
  text-align: center; /* Centrar el texto horizontalmente */
  display: flex; /* Usa flexbox para centrar verticalmente el texto */
  justify-content: center; /* Centra verticalmente el texto en el contenedor */
  align-items: center; /* Centra horizontalmente el texto en el contenedor */
}


#acerca-nosotros .numero {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px; /* Centrar el texto verticalmente */
  border-radius: 50%; /* Hacerlo circular */
  background-color: #007bff; /* Color de fondo del círculo */
  color: white; /* Color del texto */
  text-align: center; /* Centrar el texto horizontalmente */
  margin: 0 auto 50px; /* Centrar el círculo y añadir espacio debajo */
  font-weight: bold;
  z-index: 2;
}

#acerca-nosotros .texto p {
  color: black; /* Color del texto */
}




